@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}


h2 {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.7rem;
    --tw-text-opacity: 1;
    color: rgb(120 53 15 / var(--tw-text-opacity));
}

.fuente_principal_normal{
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1rem;
}

p {
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(120 53 15 / var(--tw-text-opacity));
}